extends layout

block content
  h1= title
  p  #{title}
  p We're a group of Mad Scientists 
  p From the Land Down Under
  p Where women glow and men plunder
  p You better run, you better take cover